---
layout: default
---
<h1>{{ page.title }}</h1>
{{site}}
{{ content }}
<div class="container my-4">

  <!-- AUTHOR CARD -->
  <div class="author-layout text-center p-3 bg-white shadow-sm rounded">

    <!-- Üst Satır: Sol tarih – Ortada resim – Sağ yazar -->
    <div class="d-flex align-items-center justify-content-center mb-2">

      <!-- Sol: Tarih -->
      <p class="fs-2 pg-2">{{ page.date | date_to_string }}</p>

      <!-- Ortada: Avatar -->
      <img src="https://avatars.githubusercontent.com/u/4970844?v=4" 
           alt="Yazar" 
           class="rounded-circle author-center-img">

      <!-- Sağ: Yazar Adı -->
      {% assign author = site.authors | where: 'short_name', page.author | first %}
      {% if author %}
        <p class="fw-semibold fs-2 pg-2">{{author.name }}</p>
      {% endif %}
      

    </div>

    <!-- Alt: Takip butonları -->
    <div class="mt-3 d-flex justify-content-center gap-2">
      <button class="btn btn-sm btn-primary">Takip Et</button>
      <button class="btn btn-sm btn-outline-secondary">Mesaj</button>
    </div>

  </div>

</div>
